@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: Arial, Helvetica, sans-serif;
  background: #2a3b5f
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* app/globals.css */
html {
  scroll-behavior: smooth;
}

/* app/globals.css */
section {
  scroll-margin-top:-60px; /* Adjust based on the height of your sticky header */
}

@layer base {
  :root {
    --primary: #4aa3a1;
    --secondary: #4aa3a1;
    --tertiary: #a8d1e6; 
  }
}