@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* app/globals.css */
html {
  scroll-behavior: smooth;
}

/* app/globals.css */
section {
  scroll-margin-top:-60px; /* Adjust based on the height of your sticky header */
}

@layer base {
  :root {
    --primary: #5b6d92;
    --secondary: #e0e2dc;
    --tertiary: #a3b0ae; 
  }
}